.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/
*.xcodeproj
Package.resolved
Icon

# Android (see Android/)
Android/.gradle/
Android/build/
Android/*/build/
Android/local.properties
Android/.idea/
Android/.kotlin/
*.iml
Icon?
